<div class = "container">
	<h1>Welcome <%= @user.handle %></h1>
	<br>
	<br>
	<h1> Your accounts: </h1>
	<p> you only have one, dumbass.. </p>
	<a href="/manipulations"> Show your manipulations </a>
	<br> Balance: <%= @user.account.balance %>
	<form action='/logout' method='get'>
	  <input type='submit' value='logout'>
	</form>
</div>

