  <div class="container">
  <h3>New Member Form</h3>
  <form action='/users' method='post'>
    Name: <input type='text' name='new_user[handle]'>
    Year: <input type='text' name='new_user[year]'>
    Email: <input type='text' name='new_user[email]'>
    Pass: <input type='password' name='new_user[password]'>
    <input type='submit' value='submit'>
  </form>
  </div>