<div class = "container">
<h1>Welcome Treasurer</h1>
<h1>Jesus christ, you're an admin!!</h1>
<br>
<br>
</div>

<div class = "container">
	<h1>Admin Panel</h1>
	<p> What would you like to do? <p>
	<ul>
		<li><a href="/users/new">Add members</a></li>
		<li><a href="/users">Edit/Delete members</a></li>
		<br>
		<li><a href="/batch/upload">Import a bill</a></li>
		<li><a href="/batch/new">Custom batch</a></li>
		<li><a href="/batch/edit">Edit batches</a></li>
	</ul>


</div>


