<div class = "container">
<h1>Welcome Treasurer</h1>
<h1>Jesus christ, you're an admin!!</h1>
<br>
<br>
</div>

<div class = "container">
	<h1>Admin Panel</h1>
	<p> What would you like to do? <p>
	<ul>
		<li><a href="new">Add members</a></li>
		<li><a href="/users">Edit/Delete members</a></li>
		<br>
		<li><a href="/fiscus/upload">Import a bill</a></li>
		<li><a href="/manipulations/new">Add custom manipulation</a></li>
		<li>Edit manipulations of:
		<form action='/manipulations/edit' method='post'>
  		<select name='user_id'>
   			<% @users.each do |user| %>
					<option value="<%= user.id %>"> <%=user.handle%> </option>
    		<% end %>
  		</select><input type='submit' value='go'>
  	</form>
		</li>
	</ul>


	<form action='/logout' method='get'>
	  <input type='submit' value='logout'>
	</form>
</div>