<div class="container-fluid">
	<div class = "mass-edit-container">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</div>
<script src="../js/templates.js"></script>
<script src="../js/batches.js"></script>
<script src="../js/keyboard_control.js"></script>
