  <div class="container">
 	 <div id="front-title">
	  <h3>Login to FiscAres</h3>
	 </div>
	  <form action='/login' method='post'>
	    Username: <input type='text' name='handle'>
	    Password: <input type='password' name='password'>
	    <input type='submit' value='submit'>
	  </form>
  </div>